/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}
body {
    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: inherit;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}
header {
    height: 540px;
    text-align: center;
    background-size: cover;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
}
header p {
    margin: 0 auto;
}

.wrapper_for {
    padding-top: 30px;

}

.wrapper_for_log_up {
    display: flex;
    justify-content: center;
    height: 40px;
    padding-top: 60px;
    padding-bottom: 105px;
    align-items: center;


}

/* .sign_up {
    padding: 7px 15px;
    /* border: 2px solid rgb(255, 255, 255); */
    /* border-radius: 20px;
    margin-left: 20px; */


.sign_up, 
.log_in {
    padding: 7px 15px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    
} 
.sign_up:hover,
.log_in:hover {
    border: 2px solid #ffffff;
}
/* .sign_up:hover,  
.log_in:hover {
    border: 2px solid #ffffff;
}   */

.organization_name {
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 130px;
}

.header_title {
    font-size: 30px;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header_description {
    width: 220px;
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-weight: 300;
}

.header_link {
    font-style: 14px;
    line-height: 1.2;
    border: 2px solid transparent;
    background-color: #ff4e50;
    border-radius: 20px;
    padding: 7px 50px;
}







@media screen and (max-width: 767px) {
    header {
        height: 540px;
        background-image: url("../img/header.jpg");
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }

    header {
        height: 700px;
        background-image: url("../img/header-2.jpg");
    }

      .wrapper_for { 
        padding-top: 0px;
    }

    .wrapper_for_log-up {
        padding: 50px 50px 0px 0px;
    }

    .organization_name {
        padding: 50px 0px 0px 50px;
    }
    
    .navigation {
        
        margin-bottom: 155px;
    }

    .header_title {
        font-size: 52px;
        margin: 0 auto;
        display: block;
        width: 510px;
    }

    .header_description {
        font-size: 24px;
        width: 410px;
        padding-bottom: 40px;
    }  
}
.meet_partner_item {
    margin: 0 auto;
}

.meet_partner_title {
    margin: 0;
    padding-top: 70px;
    font-size: 22px;
    line-height: 1.2;
    padding-bottom: 15px;
    color: #333333;
    text-align: center;
}

.partner_img_wrapper {
    position: relative;
    width: 220px;
}

.partner_img_wrapper::after {
    content: "";
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 45px;
    top: 85px;
}



.partner_img_wrapper,
.partner_img {
    margin: 0 auto;
}

.partner_name {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.partner_description {
    margin: auto;
    width: 220px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    color: #8f8f8f;
    font-family: "Roboto";
    font-weight: 300;
    padding-bottom: 30px;
}

.meet_partner {
    padding-bottom: 50px;
}

.first::after {
    background-image: url("../img/Shape 1.png");
    background-color: #ff4e50;
}

.second::after {
    background-image: url("../img/Shape 2.png");
    background-color: #ffa507;
}

.thirth::after {
    background-image: url("../img/Shape 3.png");
    background-color: #1cd7ad;
}

.fourth::after {
    background-image: url("../img/Shape 4.png");
    background-color: #4e73db;
}

.other_partners {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    padding: 7px 75px;
    color: #ff4e50;
}

@media screen and (min-width: 992px) {
    header {
        background-image: url("../img/header-3.jpg");
    }
    .navigation {
        margin-bottom: 135px;
    }
    .container {
        width: 1440px;
    }

    .wrapper_for {
        padding-top: 0px;
    }

    .wrapper_for_log-up {
        padding: 38px 90px 0px 0px;
    }

    .organization_name {
        padding: 35px 0px 0px 140px;
    }
}